:root{
	--color-white: #ffffff;
    --color-skyblue:#64DBFF;
    --color-lightblue:#51B1FE;
    --color-blue:#2568EC;
    --color-navy:#130E68;
    --color-black:#000000;
    
    --fontsize-large:25px;
    --fontsize-medium:20px;
    --fontsize-regular:18px;
    --fontsize-small:15px;
    --fontsize-micro:12px;
}


body { 
	margin:0; padding:0;
}
.resumeTitle {
	width: 1150px; margin: 0 auto;
	margin-top:40px;
	padding-bottom: 10px;
	border-bottom: 2px solid var(--color-navy);
}
#resumeUpdate_form {
	width: 1150px;
	margin:0 auto;
	margin-top:30px;
	
	line-height: 55px;
}
#title_content {
	border-bottom: 1px solid #00000025;
}
#title_content #r_name{
	width: 800px;
}
#title_content #r_type {
	border:none; width: 100px;
	color:gray;
}
#title_content #r_type:focus {
	text-decoration: none;
}
#ex_content {
	border-bottom: 1px solid #00000025;
}
#ex_content #r_ex {
	width: 1150px; height: 500px;
	white-space: normal;
	resize: none;
	margin-top:20px;
}
#img_content {
	border-bottom: 1px solid #00000025;
}

#preview {
	width: 600px;
}
#file_content {
	border-bottom: 1px solid var(--color-navy);
}
#btn_content {
	width: 1150px;
	margin:0 auto;
	text-align: center;
	height: 100px;
	line-height: 100px;
}
#btn_content .resume_btn{
	background-color: var(--color-white);
	border:1px solid var(--color-navy);
	cursor: pointer;
	padding:10px;
}
